**/**/.zhistory
**/**/.zsh_history
**/id_*
**/id_*.pub
**/.ssh/*
!**/.ssh/config

# Specific files
fedora/zsh/bin/nps_*.sh
fedora/zsh/bin/pyNPU.py
fedora/zsh/bin/t7z
linux/systems/.local/bin/org.jcchikikomori.dotfiles/bin/starship

# GPG
# Ignore all files and directories within ~/.gnupg
linux/gpg/.gnupg/*

# But track gpg.conf and gpg-agent.conf
!linux/gpg/.gnupg/gpg.conf
!linux/gpg/.gnupg/gpg-agent.conf

# VSCode
/.vscode
/.vscode/exports-autocomplete-cache/
linux/vscode/.vscode/argv.json
**/vscode/.vscode-server/bin/*
**/vscode/.vscode-server/data/*
**/vscode/.vscode-server/extensions/
!**/vscode/.vscode-server/extensions/extensions.json
!**/vscode/.vscode-server/data/Machine/*
!**/vscode/.vscode-server/data/User/*
**/vscode/.vscode/extensions/

# Docker
linux/zsh/.config/systemd/user/default.target.wants/docker.service
linux/zsh/.config/systemd/user/docker.service
linux/zsh/.config/systemd/user/sockets.target.wants/docker.socket
linux/zsh/bin/containerd
linux/zsh/bin/containerd-shim-runc-v2
linux/zsh/bin/ctr
linux/zsh/bin/docker
linux/zsh/bin/docker-init
linux/zsh/bin/docker-proxy
linux/zsh/bin/dockerd
linux/zsh/bin/dockerd-rootless-setuptool.sh
linux/zsh/bin/dockerd-rootless.sh
linux/zsh/bin/rootlesskit
linux/zsh/bin/runc
linux/zsh/bin/vpnkit

# DXVK
linux/dxvk/.dxvk/cache/
linux/dxvk/.dxvk/log/

# Tentative adjustments due to a symlink bug
.dotfiles/
.dotfiles

# Temporary files related to dotfiles setup
.currentdir
.currentuser
linux/systems/.dotfiles-python-version

# EmuDeck
linux/zsh/.config/systemd/user/EmuDeckCloudSync.service

# Other services (such as appimagelauncherd, sdgyrodsu, etc.)
linux/zsh/.config/systemd/user/default.target.wants/*

# Steam Deck Gyro DSU service
linux/zsh/.config/systemd/user/sdgyrodsu.service

# Other systemd user services
linux/zsh/.config/systemd/user/*

# Other binaries
linux/zsh/bin/pyNPU.py
linux/zsh/bin/t7z
linux/zsh/bin/nps_*.sh

# tmux
tmux-client-*.log

