[user]
	name = John Cyrill Corsanes
	email = 241884659+jccven0msn4k33@users.noreply.github.com
	signingkey = A990728CD1E77D62
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[alias]
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	contributors = shortlog --summary --numbered
	whoami = config user.email
	identity = !sh -c \"git config user.name \\\"$(git config user.$1.name)\\\" && git config user.email \\\"$(git config user.$1.email)\\\" && git config user.signingkey \\\"$(git config user.$1.signingkey)\\\"\" -
[branch]
	sort = -committerdate
[core]
	pager = less -r
	excludesfile = /home/johncyrillcorsanes/.gitignore_global
[diff]
	renames = copies
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[help]
	autoCorrect = 1
[pull]
	rebase = true
[gpg]
	program = /usr/bin/gpg
[user "work"]
	name = John Cyrill Corsanes
	email = 241884659+jccven0msn4k33@users.noreply.github.com
	signingkey = A990728CD1E77D62
[user "personal"]
	name = John Cyrill Corsanes
	email = 4709030+jcchikikomori@users.noreply.github.com
	signingkey = CC3FAD00C862B8A6
