[Unit]
Description=EmuDeck MEGA S4 Cloud Sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/org.jcchikikomori.emudecktools/bin/sync_retroarch_to_mega
ExecStart=%h/.local/bin/org.jcchikikomori.emudecktools/bin/sync_pcsx2_to_mega
ExecStart=%h/.local/bin/org.jcchikikomori.emudecktools/bin/sync_flycast_to_mega
ExecStart=%h/.local/bin/org.jcchikikomori.emudecktools/bin/sync_emulationstation_to_mega
StandardOutput=journal
StandardError=journal
